<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/cart">Cart</a>
        <a href="/"><img style="max-width: 100px;" src="/smokit.png" alt="Logo"></a>
        <nav>
            <a href="/">Home</a>
            <a href="/about">about</a>
            <a href="/shop">shop</a>
            <a href="/orders">Orders</a>
        </nav>
    </div>
</body>
</html>