<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form
      class="flex"
      style="flex-direction: column"
      action="/login"
      method="POST"
    >
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Login</button>
    </form>
    <h3>Dont have an account?</h3>
    <a href="/register">Sign up</a>
  </body>
</html>
